body{
    background:gray;
}




.container{
    border: 3px solid black;
    width: 450px;
    background: gainsboro;
    color: red;
    /*שוליים פנימיים*/
    padding: 0;
    /*גורם לדיב להתמרכז לאמצע*/
    margin: 0 auto;
  background-image:url(../images/beneli.jpg);
    background-size: cover;

}
h1{
    color: lightslategray;
}

.back{
    color:red;
font-weight: bold;
font-size: 20px;
}
.cover{  
    width: 450px;
    background-image:url(../images/DSC_0969.JPG)
    background-size: cover;

}